@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body
{
    margin: 0;
    font-family: tahoma, sans-serif;
    color: antiquewhite;

    background: url('../img/libri.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titolo
{
    position: absolute;
    top:-16px;
    left: 40px;      
    font-size: clamp(40px, 3vw, 80px);     
    color: antiquewhite;
    user-select: none;
    font-family: "Patrick Hand", cursive;
}

.logo
{
    position: fixed;
    top: -3%;
    left: -3%;
    width: 120px;
    height: 120px;
    user-select: none;
}


.btnLogin
{
    position: fixed;
    top: 4%;
    right: 3%;

    width: clamp(120px, 10vw, 180px);
    height: clamp(40px, 5vw, 60px);

    background: transparent;
    backdrop-filter: blur(15px);
    color: antiquewhite;
    border: 2px solid antiquewhite;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: clamp(20px, 2vw, 24px);
    transition: 0.3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btnLogin:hover
{
    background: antiquewhite;
    color:rgb(216, 176, 124);
}

/*icon login*/
.LoginIcn
{
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

/*BOTTONE Inizia a leggere*/
.btnEntra
{
    position: absolute;                       
    width: 350px;
    height: 40px;
    background: transparent;
    border: 2px solid antiquewhite;
    border-radius: 6px;
    cursor: pointer;
    color:antiquewhite;
    font-size: 0.5cm;
    transition: 0.3s;
    top: 70%;
    text-shadow: 0px 0px 4px rgb(121, 98, 67);
}

.btnEntra:hover
{
    text-shadow: none;
    background: antiquewhite;
    color: rgb(187, 154, 130);
    font-size: 0.4cm;
}

/*Riquadro che racchiude tutto*/
.riquadro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    width: clamp(450px, 30vw, 550px);
    height: clamp(450px, 30vw, 550px);

    background: transparent;
    border: 2px solid antiquewhite;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    font-family: 'Segoe UI', Tahoma, sans-serif;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.attivaPopup
{
    transform: scale(1);
}

.chiudi
{
    position: absolute;
    display: flex;
    top: 0;
    right: -1px;
    width: 45px;
    height: 45px;
    background-color: antiquewhite;
    border: none;
    color: rgb(221, 182, 130);
    font-size: 2em;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    line-height: 1;
}

/*CREDENZIALI*/
/*testo "Accesso"*/
h2
{
    position: absolute;
    top: 5%;
    text-shadow: 0px 0px 7px rgb(121, 98, 67);
    user-select: none;
    font-size: clamp(40px, 3vw, 80px);
    
}

/*"linea"*/
.input-box
{
    position: relative;
    width: 70%;
    height: 45px;
    border-bottom: 2px solid antiquewhite;
}

/*testo NICKNAME/PASSWORD*/
.input-box label
{
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-136%);
    font-size: 1.3em;
    font-weight: 500;
    pointer-events: none;
    transition: .3s;
}

/*testo di input*/
.input-box input
{ 
    width: 100%;
    height: 130%;
    background: transparent;
    border: none;
    outline: none;
    color: antiquewhite;
    font-size: 1em;
}

/*REGISTRAZIONE*/
.registrazione
{
    position: relative;
    justify-self: center;
    bottom:5%;
    font-size: 1.1em;
}